/*
Name: Cade Marks, Jonah Little
Course: CSc 337
Description: Provides style for smashstats.html. Uses flexbox layout for many divs to center and
			 align elements. Uses a consistent color scheme using varying shades of gray.
*/

* {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
	background-color: #F5F5F5;
	color: #404040;
	margin: 0;
	text-align: center;
}

#banner_image{
	background-image: url("https://i.pinimg.com/474x/4d/bd/5e/4dbd5ef218dfbbfd35f33c6b1afc28ba-\
		-super-smash-bros-melee-smash-cakes.jpg");
	background-size: 300px 169px;
	height: 110px;
}

#header {
	align-items: center;
}

#home {
	margin: 10px;
}

button {
	background-color: white;
	font-weight: bold;
}

#header, #char_area, #all_characters, #char_box {
	display: flex;
	justify-content: center;
}

#all_characters {
	flex-wrap: wrap;
}

#char_box {
	background-color: #DCDCDC;
	border: 4px solid maroon;
	border-radius: 10px;
	width: 35%;
}

#messageArea {
	width: 60%;
	margin: auto;
}

.character_box {
	background-color: #DCDCDC;
	border-radius: 5px;
	box-shadow: 0 0 15px gray;
	font-size: 10pt;
	float: left;
	height: 280px;
	margin: 1%;
	padding: 0;
	text-align: center;
	width: 200px;
}